:root {
  --color-primary: #f2f2fe4d;
  --color-bg: #4f1183;
  --color-button: #303038;
  --color-white: #f2f2fe;
  --color-grey: #9c9c9c;

  --border-radius-1: 0.5rem;

  --transition: all 300ms ease;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  appearance: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  background-color: var(--color-bg);
}

body {
  font-family: 'Roboto Mono', monospace, sans-serif;
  font-weight: 200;
  line-height: 1.6;
  color: var(--color-primary);
  overflow-x: hidden;
  background-color: var(--color-bg);
  color: var(--color-white);
}

.container {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn_container {
  display: flex;
  justify-content: center;
  gap: 3%;
  padding-bottom: 2rem;
}

.btn {
  font-family: 'Roboto Mono', monospace, sans-serif;
  display: inline-block;
  width: fit-content;
  padding: 0.6rem 1.2rem;
  background-color: var(--color-button);
  border-radius: var(--border-radius-1);
  cursor: pointer;
  color: var(--color-white);
  transition: var(--transition);
  font-size: medium;
}

.btn:hover {
  background-color: var(--color-white);
  color: var(--color-button);
}

.btn.play {
  font-size: larger;
  font-weight: 600;
  transition: var(--transition);
}

.game_status {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.name_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.name {
  font-family: 'Tilt Prism', cursive;
  font-size: xx-large;
}

.name_subtext {
  text-align: center;
  padding: 2rem 3rem;
}

.game_container {
  padding-bottom: 10rem;
}

.round_result {
  padding: 1.5rem 0 2rem 0;
}